<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout_responsivo.css">
    <title>Grafpedia</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="Grafpedia">
                <p>Grafpedia</p>
            </div>
            <div class="buscador">
                <input type="text">
            </div>
            <div class="nav">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Products</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
        <div class="imagenes"></div>
        <div class="vip">
            <div class="texto_vip">
                <p>Get lots of vectors, icons, web layouts, brushes, textures and gradients >></p>
            </div>
            <div class="boton_vip"></div>
        </div>
        <div class="article services">
            <div class="article_services_title"></div>
            <div class="article_services_content"></div>
        </div>
        <div class="article products">
            <div class="article_products_title"></div>
            <div class="article_products_content"></div>
        </div>
        <div class="article about_us">
            <div class="article_aboutus_title"></div>
            <div class="article_aboutus_content"></div>
        </div>
        <div class="article_blog">
            <div class="article_blog_title"></div>
            <div class="article_blog_content">
                <div class="articulo_1_blog">
                    <div class="imagen_articulo_1"></div>
                    <div class="content_articulo">
                        <div class="h1_articulo_1"></div>
                        <div class="texto_articulo_1"></div>
                    </div>
                </div>
                <div class="articulo_2_blog">
                    <div class="imagen_articulo_2"></div>
                    <div class="content_articulo">
                        <div class="h1_articulo_2"></div>
                        <div class="texto_articulo_2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>