<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout_responsivo.css">
    <title>Grafpedia</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="Grafpedia">
                <h1>Grafpedia</h1>
            </div>
            <div class="buscador">
                <input type="text" value="Type and hit enter to search">
            </div>
            <div class="nav">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Products</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
        <article>
            <div class="imagenes">
                <picture>
                    <source media="(max-width: 576px)" srcset="img/imagen_desplazable_tablet_movil.PNG">
                    <source media="(min-width: 576px)" srcset="img/imagen_desplazable_ordenador.PNG">
                        <img src="img/imagen_desplazable_ordenador.PNG" alt="IMAGENES_ORDENADOR">
                </picture>
            </div>
            <div class="vip">
                <div class="texto_vip">
                    <p>Get lots of vectors, icons, web layouts, brushes, textures and gradients >></p>
                </div>
                <div class="boton_vip">
                    <p>Apply for a VIP account</p>
                </div>
            </div>
            <div class="article services">
                <div class="article_services_title">
                    <h1>Services</h1>
                </div>
                <div class="article_services_content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque a nemo similique, corrupti iure ullam, consequatur, possimus atque eius architecto placeat nulla explicabo illum voluptates tempora consectetur quos molestiae optio!</p>
                    <ul>
                        <li>Web Design >></li>
                        <li>Print Design >></li>
                        <li>Logo Design >></li>
                        <li>Icon Design >></li>
                    </ul>
                </div>
            </div>
            <div class="article products">
                <div class="article_products_title">
                    <h1>Products</h1>
                </div>
                <div class="article_products_content">
                    <div class="imagen_1">
                        <img src="img/imagen1_de_6.PNG" alt="Vector_product_1">
                    </div>
                    <div class="imagen_2">
                        <img src="img/imagen2_de_6.PNG" alt="Vector_product_2">
                    </div>
                    <div class="imagen_3">
                        <img src="img/imagen3_de_6.PNG" alt="Vector_product_3">
                    </div>
                    <div class="imagen_4">
                        <img src="img/imagen4_de_6.PNG" alt="Vector_product_4">
                    </div>
                    <div class="imagen_5">
                        <img src="img/imagen5_de_6.PNG" alt="Vector_product_5">
                    </div>
                    <div class="imagen_6">
                        <img src="img/imagen6_de_6.PNG" alt="Vector_product_6">
                    </div>                
                </div>
            </div>
            <div class="article about_us">
                <div class="article_aboutus_title">
                    <h1>About us</h1>
                </div>
                <div class="article_aboutus_content">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate provident reprehenderit placeat maiores suscipit consectetur ea, libero magni eos. Nemo numquam quod eligendi a, suscipit quos deserunt quam quae ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam velit fugiat facere vel officiis? Alias praesentium vero quod quasi culpa architecto! Voluptates libero voluptas autem blanditiis, consectetur dolore earum eveniet. lorem Lorem ipsum dolor sit amet consectetu</p>
                    
                </div>
            </div>
            <div class="article_blog">
                <div class="article_blog_title">
                    <h1>Blog</h1>
                </div>
                <div class="article_blog_content">
                    <div class="articulo_1_blog">
                        <div class="imagen_articulo_1">
                            <img src="img/imagen_blog_1_de_2.PNG" alt="IMAGEN_EFECTO_LUZ">
                        </div>
                        <div class="content_articulo">
                            <div class="h1_articulo_1">
                                <h2>Create a ligth effect in Photoshop</h2>
                            </div>
                            <div class="texto_articulo_1">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam ea enim repudiandae laborum aut? Quis unde deleniti, libero neque tenetur atque? Blanditiis ipsam quas iusto rem accusamus facere porro adipisci!</p>
                            </div>
                        </div>
                    </div>
                    <div class="articulo_2_blog">
                        <div class="imagen_articulo_2">
                            <img src="img/imagen_blog_2_de_2.PNG" alt="IMAGEN_EFECTO_LUZ">
                        </div>
                        <div class="content_articulo">
                            <div class="h1_articulo_2">
                                <h2>Design a Clean Bussiness Layout</h2>
                            </div>
                            <div class="texto_articulo_2">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam ea enim repudiandae laborum aut? Quis unde deleniti, libero neque tenetur atque? Blanditiis ipsam quas iusto rem accusamus facere porro adipisci!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</body>
</html>