<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Layout_Float.css">
    <title>Mail Chimp</title>
</head>
<body>
    <div class="container">
        <div id="background_azul">
            <header>
                <div id="Log_in">
                    <p>Log In</p>
                </div>
                <aside>
                    <img src="img/Mail_Chimp_Letras.PNG" alt="Mail_Logo">
                    <input type="button" value="Sign Up Free"/>
                </aside>
                <nav>
                    <ul>
                        <li>Pricing</li>
                        <li>Features</li>
                        <li>Resources</li>
                        <li>Support</li>
                        <li>Blog</li>
                        <li>
                            <input type="text"/>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <div class="Main_Mono">
                    <img src="img/Mono_Layout.PNG" alt="Mailchimp_Monkey">
                    <h1>Easy Email Newsletters</h1>
                    <p>MailChimp helps you design email newsletters, 
                        share them on social networks, integrate with services you already
                        use, and track your results. It's like your own personal publishing
                        platform.
                    </p>
                    <div id="Registro_Negro">
                        <input type="button" value="Sign Up Free"/>
                    </div>
                    <p>Need convincing?</p> 
                </div>
            </main>
        </div>
        <div id="background_gris"></div> 
        <article>   
            <div class="Main_Articles">
                <h1>What's New</h1>
                <div id="Movil_Vibrando">
                    <img src="img/Movil_Vibrando.PNG" alt="Movil recibiendo mensaje">
                    <h3>MailChimp Research:</h3>
                    <h2>Email on Mobile Devices</h2>
                    <p>Learn all about how people read email
                        on their smartphones, and how to optimize
                        your content for the...</p>
                </div>
                <div id="Movil_Negro_Blanco">
                    <img src="img/Movil_Negro_Blanco.PNG" alt="Aplicancion en movil">
                    <h3>App Spotlight:</h3>
                    <h2>MailChimp Mobile</h2>
                    <p>View reports, add new subscribers and manage your lists with MailChimp's
                        iPhone and Android...</p>
                </div>
                <div id="Tablet_Negra">
                    <img src="img/Tablet_Fondo_Morado.PNG" alt="Aplicacion en Tablet">
                    <h3>App Spotlight:</h3>
                    <h2>Chimpadeedoo</h2>
                    <p>Chimpadeedoo collects email addresses and stores them locally on your iPad, 
                        even when you're not online</p>
                </div>
                <div id="Buho">
                    <img src="img/Buho.PNG" alt="Logo hootsuite">
                    <h3>Integration Spotlight:</h3>
                    <h2>HootSuit</h2>
                    <p>Share and track your MailChimp campaigns from within your HootSuite account.</p>
                </div>
            </div>
        </article>
    </div>
    
</body>
</html>